/* Fonts */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeue-Thin.ttf');
    font-weight: 200;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeue-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeue-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'MeteoconsRegular';
    src: url('../assets/meteocons-webfont.eot');
    src: url('../assets/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/meteocons-webfont.woff') format('woff'),
         url('../assets/meteocons-webfont.ttf') format('truetype'),
         url('../assets/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html { 
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: url('../images/test.jpg') no-repeat center center fixed; 
    background-size: cover;
    font-weight: 300;
}

[data-icon]:before {
    font-family: 'MeteoconsRegular';
    position: relative;
    top: 0.1em;
    margin-right: 0.15em;
    content: attr(data-icon);
}

/* Classes */
.white_text {
    color: rgba(255, 255, 255, 0.75);
}

/* IDs */
#top_menu_container {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1em;
}
#top_menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#top_menu li {
    display: inline-block;
}
#top_menu li a {
    margin: 0 0.25em;
    padding: 0.5em 0.75em;
    border-radius: 3px;
    transition: background .3s ease;
    text-decoration: none;
    font-weight: 300;
}
#top_menu li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
#bottom_right_container {
    position: fixed;
    bottom: 0;
    right: 0;
}
#clock_container {
    float: left;
    margin-right: 0.5em;
}
#time {
    font-size: 3.75em;
    font-weight: 200;
}
#time_ampm {
    position: relative;
    left: -0.5em;
    font-size: 1.25em;
    font-weight: 300;
}
#weather_container {
    position: relative;
    top: 0.25em;
    float: right;
    margin-right: 1em;
}
#weather_temperature_container {
    display: block;
    position: relative;
    top: 0.25em;
    text-align: right;
}
#weather_temperature {
    font-size: 2em;
    font-weight: 300;
}
#weather_temperature_units {
    position: relative;
    top: 0.3em;
    vertical-align: top;
    font-weight: 500;
}
#weather_location {
    display: block;
    position: relative;
    top: 0.25em;
    text-align: right;
    font-size: 0.8125em;
    font-weight: 500;
}
