/* Fonts */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeue-Thin.ttf');
    font-weight: 200;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeue-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/HelveticaNeue-Medium.ttf');
    font-weight: 500;
}

html { 
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: url('../images/test.jpg') no-repeat center center fixed; 
    background-size: cover;
    font-weight: 300;
}

/* Classes */
.white_text {
    color: rgba(255, 255, 255, 0.85);
}

/* IDs */
#top_menu_container {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1em;
}
#top_menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#top_menu li {
    display: inline-block;
}
#top_menu li a {
    margin: 0 0.25em;
    padding: 0.5em 0.75em;
    border-radius: 3px;
    transition: background .3s ease;
    text-decoration: none;
    font-weight: 300;
}
#top_menu li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
#clock_container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 1em;
}
#time {
    font-size: 3.75em;
    font-weight: 200;
}
#time_ampm {
    font-size: 1.25em;
    font-weight: 300;
}
